.blue-button {
    background-color: #49B9EA;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;

    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
}

.button-content {
    display: inline-flex;
    align-items: center;
}
