/* WhiteButton.css */

.white-button {
    background-color: transparent;
    color: blue;
    cursor: pointer;
    padding: 10px 25px;
    border: 2px solid blue;
    border-radius: 30px;
}
.button-content {
    display: inline-flex;
    align-items: center;

}