
.white-button {
    background-color: transparent;
    color: #49B9EA;
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #49B9EA;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
}

.button-content {
    display: inline-flex;
    align-items: center;
}

