body {
    font-family: 'B Yekan', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.app {
    background: linear-gradient(to bottom, #516BB3, #5684C3, #559FD7, #49B9EA);
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    border-bottom-left-radius: 600px;
}
